@font-face {
    font-family: 'taebaek';
    src: url(../font/TAEBAEK\ milkyway.ttf) format('truetype');

    font-family: 'raleway';
    src: url(../font/Raleway-VariableFont_wght.ttf) format('truetype');

    font-family: 'flower';
    src: url(../font/IndieFlower-Regular.ttf) format('truetype');
}
body {
    font-family: 'raleway';
    margin: 0; padding: 0;
    background-image: url(./img/noise-background.jpg);
    overflow-x: hidden;
    box-sizing: border-box;
}
.wrap {
    width: 100%;
    position: relative;
}
.right-screen {
    position: absolute;
    width: 90%; padding-left: 90px;
    display: flex; flex-wrap: wrap; flex-direction: column;
}

/* left-nav */
.left-nav {
    position: fixed; left: 0; top: 0;
    width: 15%; height: 100vh;
    max-width: 90px;
    background-color: rgba(255, 255, 255, 0.918);
    z-index: 100;
}
.left-nav p {
    font-family: flower;
    font-weight: bold; font-size: 20px;
    position: absolute; top: 50px; left: 50%;
    transform: translateX(-50%);
    margin: 0; padding: 0;
}
.left-nav p span::after {
    content: "©";
    position: absolute; top: 0; right: -8px;
    font-size: 2px;
}
.left-nav ul {
    font-family: 'raleway';
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    margin: 0; padding: 0;
    text-align: center;
}
.left-nav ul li {
    margin: 50px 0 50px 0; padding: 0;
    cursor: pointer;
}
.left-nav ul li:hover {
    font-weight: bold;
}

/* home */
.home {
    font-family: 'raleway';
    width: 100%; height: 100vh;
    position: relative;
}
.home .home-top {
    width: 100%; height: 50vh;
}
.home .home-top p {
    color: white;
    margin: 0; padding: 0;
    font-size: 25px;
    position: absolute; top: 70px; left: 60px;
    transition: 1s;
}
.home .home-top .line {
    background-color: white;
    width: 100%; height: 1px;
    position: absolute; top: 55px; left: 60px;
    transition: 1s;
}
.home .home-top .light-wrap {
    position: absolute; top: 55px; right: 150px;
    width: 180px; height: 180px;
}
.home .home-top .light-wrap .light {
    position: absolute; top: 0; left: 2px;
    width: 180px; height: 180px;
    background-image: url(./img/light.png);
    background-size: cover;
    filter: invert(100%);
    animation: lightAni2 3s;
    animation-fill-mode: forwards; /* 애니메이션 마지막 상태 유지 */
}
@keyframes lightAni2 {
    from {
        top : 0;
    }to {
        top : 25vh;
    }
}
.home .home-top .light-wrap .light-line::before {
    content: "";
    background-color: white;
    position: absolute; top : 0; left: 50%;
    width: 4px; height: 20px;
    z-index: 1;
    animation: lightAni 3s;
    animation-fill-mode: forwards;
}
@keyframes lightAni {
    from {
        opacity: 1;
        height: 0;
    }to {
        opacity: 1;
        height: 25vh;
    }
}
.home .home-bottom {
    width: 100%; height: 50vh;
    position: relative;
}
.home .home-bottom .building {
    width: 100%; height: 100%;
    position: absolute; bottom: 0; left: 0;
}
@media only screen and (min-width: 1100px) {
    .home .home-bottom .building .walking {
        width: 25%; height: 25%;
        background-image: url(./img/walking.gif);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute; bottom: 0; left: -10%;
        animation: walking 40s forwards;
        z-index: -200;
    }
    @keyframes walking {
        0% {left: -10%;}
        100% {left: 110%}
    }
}
.home .home-bottom .triangle {
    position: absolute; bottom: -370px; right: -80px;
    background-color: rgb(255, 255, 198); opacity: 0.3;
    width: 640px; height: 640px;
    transform: rotate(45deg);
    overflow: hidden;
    animation: lightAni3 7s;
    animation-fill-mode: forwards;
    z-index: -300;
}
@keyframes lightAni3 {
    0% {opacity: 0;}
    50% {opacity: 0;}
    55% {opacity: 0.3;}
    60% {opacity: 0;}
    65% {opacity: 0.3;}
    70% {opacity: 0;}
    100% {opacity: 0.3;}
}
.home .home-bottom p {
    color: white;
    font-size: 70px; font-weight: bold;
    position: absolute; bottom: 0; right: 130px;
    text-align: right;
    text-shadow: 2px 10px 5px black;
    animation: lightAni4 7s;
    animation-fill-mode: forwards;
}
@keyframes lightAni4 {
    0% {opacity: 0;}
    50% {opacity: 0;}
    55% {opacity: 1;}
    60% {opacity: 0;}
    65% {opacity: 1;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}

/* about */
.about {
    width: 100vw; height: 100vh;
    background-color: white;
    position: relative;
}
.about h1 {
    font-size: 50px; font-weight: bold;
    justify-content: center; align-items: center; text-align: center;
    position: absolute; top: 100px; left: 50%;
    transform: translateX(-50%);
}
.about h1:hover {
    background: linear-gradient(to right, black, rgb(255, 208, 0));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.1);
}
@keyframes rainbow {
    0% {background-position: right}
    50% {background-position: left}
    100% {background-position: right}
}
.about .underline.is-active {
    width: 200px; height: 2px;
    background-color: rgb(255, 208, 0);
    justify-content: center; align-items: center;
    position: absolute; top: 70px; left: 50%;
    transform: translateX(-50%);
    animation: rainbow2 2s forwards;
}
@keyframes rainbow2 {
    0% {width: 0px}
    100% {width: 200px}
}
.about .about-wrap {
    position: absolute; top: 270px; left: 50%;
    transform: translateX(-50%);
    justify-content: center; align-items: center;
    width: 510px; height: 300px;
    box-sizing: border-box;
    display: flex; flex-wrap: wrap;
}
.about .about-wrap .about-item {
    width: 250px; height: 100px;
    box-sizing: border-box;
    position: relative;
}
.about-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.about-wrap .about-item .about-icon {
    box-sizing: border-box;
    width: 70px; height: 100%;
    position: absolute; left: 0;
}
.about-item .about-icon img {
    position: absolute; top: 25px; left: 50%;
    transform: translateX(-50%);
    width: 25px; height: 25px;
}
.about-wrap .about-item .about-text {
    box-sizing: border-box;
    width: 180px; height: 100%;
    position: absolute; right: 0;
}
.about-item .about-text .text01 {
    position: absolute; left: 10px; top: 10px;
    font-size: 15px; font-weight: bold;
}
.about-item .about-text .text02 {
    position: absolute; left: 12px; top: 40px;
    font-size: 10px;
}

/* skills */
.skills {
    width: 100vw; height: 110vh;
    position: relative;
}
.skills h1 {
    font-size: 50px; font-weight: bold; color: white;
    justify-content: center; align-items: center; text-align: center;
    position: absolute; top: 60px; left: 50%;
    transform: translateX(-50%);
}
.skills h1:hover {
    background: linear-gradient(to right, white, rgb(255, 208, 0));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.1)
}
@keyframes rainbow {
    0% {background-position: right}
    50% {background-position: left}
    100% {background-position: right}
}
.skills .underline.is-active {
    width: 200px; height: 2px;
    background-color: rgb(255, 208, 0);
    justify-content: center; align-items: center;
    position: absolute; top: 70px; left: 50%;
    transform: translateX(-50%);
    animation: rainbow2 2s forwards;
}
@keyframes rainbow2 {
    0% {width: 0px}
    100% {width: 200px}
}
.skills .skills-wrap {
    width: 70%; height: 75vh;
    position: absolute; top: 190px; left: 50%;
    transform: translateX(-50%);
    display: flex; flex-wrap: wrap;
    justify-content: center;
    align-content: center; flex-flow: column wrap;
}
@media only screen and (min-width: 1100px) {
    .skills .skills-wrap {
        flex-flow: row wrap;
    }
}
.skills .skills-wrap .skills-item {
    width: 220px;
    margin: 10px; padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
}
.skills-item:hover {
    box-shadow: 0 0 50px rgb(255, 208, 0);
    transition: 2s;
}
.frontend {
    height: 500px;
}
.backend {
    height: 300px;
}
.control {
    height: 200px;
}
.skills-item .skills-title {
    font-family: 'raleway';
    font-size: 20px; font-weight: bold;
}
.skills-item .line {
    width: 100%;
    border: 1px solid;
    margin-bottom: 20px;
}
.skills-item img {
    width: 150px;
    padding: 10px;
    display: flex;
}
/* project */
.project {
    width: 100vw; height: 110vh;
    position: relative;
    background-color: white;
}
.project h1 {
    font-size: 50px; font-weight: bold;
    justify-content: center; align-items: center; text-align: center;
    position: absolute; top: 30px; left: 50%;
    transform: translateX(-50%);
}
.project h1:hover {
    background: linear-gradient(to right, black, rgb(255, 208, 0));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.1);
}
@keyframes rainbow {
    0% {background-position: right}
    50% {background-position: left}
    100% {background-position: right}
}
.project .project-wrap {
    width: 500px; height: 600px;
    position: absolute; top: 140px; left: 50%;
    transform: translateX(-50%);
    display: flex; align-content: flex-start;
    flex-flow: wrap;
    overflow-y: scroll;
}
.project-wrap::-webkit-scrollbar {
    display: none;
}
.project .project-wrap .project-item {
    border-top: 5px solid;
    padding: 20px; box-sizing: border-box;
    width: 500px; height: 600px;
    background-color: white;
    margin-bottom: 20px;
    justify-content: center; align-items: center;
}
.project-item .title {
    font-size: 20px; font-weight: bold;
    margin: 5px 0 5px 0;
}
.project-item .info {
    width: 95%;
}
.project-item .info p {
    font-size: 12px; font-weight: 500;
}
.project-item .info .button {
    font-family: 'flower';
    width: 90px; height: 25px;
    border: 2px solid rgb(194, 194, 0);
    background-color: yellow;
    border-radius: 4px;
    box-shadow: 0 3px 3px 0 rgb(194, 194, 0);
    font-size: 16px; font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.project-item .info .line {
    width: 100%;
    border: 1px solid;
    margin: 15px 0 4px 0;
}
.project-item .info ul {
    list-style: none;
    margin: 10px 0 0 0; padding: 0;
    font-size: 14px;
    display: flex; flex-wrap: wrap;
    justify-content: center; align-items: center;
}
.project-item .info ul .bold {
    font-size: 12px; font-weight: bold;
    width: 19%; height: 20px;
}
.project-item .info ul .unbold {
    font-size: 12px;
    width: 80%; height: 20px;
}

.swiper-wrap {
    margin-top: 10px;
    width: 100%; height: 300px;
}
.swiper {
    width: 100%; height: 100%;
    border-radius: 10px;
}
.swiper .swiper-slide {
    width: 90%;
    display: flex;
    justify-content: center; align-items: center;
}
.swiper .swiper-slide img {
    height: 100%;
    overflow: hidden;
}

/* contact */
.contact {
    width: 100vw; height: 100vh;
    position: relative;
}
.contact h1 {
    font-size: 50px; font-weight: bold;
    justify-content: center; align-items: center; text-align: center;
    position: absolute; top: 100px; left: 50%;
    transform: translateX(-50%);
    color: white;
}
.contact h1:hover {
    background: linear-gradient(to right, white, rgb(255, 208, 0));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.1)
}
@keyframes rainbow {
    0% {background-position: right}
    50% {background-position: left}
    100% {background-position: right}
}
.contact .underline.is-active {
    width: 200px; height: 2px;
    background-color: rgb(255, 208, 0);
    justify-content: center; align-items: center;
    position: absolute; top: 70px; left: 50%;
    transform: translateX(-50%);
    animation: rainbow2 2s forwards;
}
@keyframes rainbow2 {
    0% {width: 0px}
    100% {width: 200px}
}
.contact .contact-wrap {
    position: absolute; top: 270px; left: 50%;
    transform: translateX(-50%);
    width: 550px; height: 200px;
    box-sizing: border-box;
    justify-content: center; align-items: center;
    display: flex; flex-wrap: wrap; flex-direction: column;
}
.contact .contact-wrap .contact-icon {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; align-items: center;
    position: relative;
}
.contact-wrap .contact-icon div {
    width: 50px; height: 50px;
    margin: 0 30px 0 30px;
    filter: invert(100%);
    cursor: pointer;
}
#tel, #email, #github, #notion, #instagram {
    height: 40px;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 0 10px 0 10px;
    position: absolute; top: 50px; left: -40px;
    display: none;
}
.contact-icon .icon01:hover #tel {
    display: flex;
    justify-content: center; align-items: center;
}
.contact-icon .icon02:hover #email {
    display: flex;
    justify-content: center; align-items: center;
}
.contact-icon .icon03:hover #github {
    display: flex;
    justify-content: center; align-items: center;
}
.contact-icon .icon04:hover #notion {
    display: flex;
    justify-content: center; align-items: center;
}
.contact-icon .icon05:hover #instagram {
    display: flex;
    justify-content: center; align-items: center;
}

/* rights */
.rights {
    width: 100%; height: 90px;
    position: absolute; bottom: 0;
}
.rights p {
    color: white;
    text-align: center;
    justify-content: center; align-items: center;
    position: absolute; top: 30%; left: 50%;
    transform: translate(-50%, -50%);
}